@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

$main-color: rgb(83, 149, 181);
$txtnav-color: rgb(144, 191, 211);
$chatbg-color: rgb(212, 215, 216);

h1 {
  color: $txtnav-color;
  margin: 0 5%;
  font-size: 1.5em;
}

body {
  background: rgb(235, 235, 235);
  color: $txtnav-color;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: $main-color;
  border: 0;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 0;
  border-radius: 8px;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 9px;
}

.chatbar-message {
  margin: 5px;
}

.chatbar-username {
  margin: 5px 0 5px 5px;
}

.chatbar-message {
  flex: 8;
  background-color: $chatbg-color;
}

.chatbar-username {
  flex: 2;
  background-color: $chatbg-color;
  border-radius: 8px 0 0 8px;
}

.chatbar-savename {
  height: 40px;
  align-self: center;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  color: black;
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: $main-color;
  border: 0;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span.num-users {
    color: $chatbg-color;
  }

}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

img {
  width: 40%;
}

button {
  border-radius: 0 8px 8px 0;
  border-width: 0;
  background-color:rgb(182, 182, 182);
  color: rgb(72, 72, 72);

  &:hover {
    background-color: rgb(206, 206, 206);
  }

  &[disabled] {
    background-color: rgb(174, 174, 174);
    color: rgb(153, 153, 153);
  }
}